extends layout

block content
	h1= title
	div(id='container')
		div(id='drawing-area')
		div(id='tools')
		div(id='tool-options')
		div(id='palette')
		div(id='preview')
		div(id='preview-options')
		div(id='layers')
		div(id='frames')
		
