doctype 5
html
	head
		title= title
		| <script data-main='js/main' src='js/libs/require/require.js'></script>
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/swanky-purse/jquery-ui-1.8.22.custom.css')
	body
	div(id='body')
		block content