#body 
{
    text-align : center;
    overflow: hidden;
    background-color: #333;
}

#container
{
    width: 1024px;
    height: 1024px;
    overflow: hidden;
    text-align: left;
    margin: auto;
    position: relative;
    background-color: #FEF8DB;
}

#palette
{
    position:absolute;
    top : 10px;
    left : 10px;
	width : 330px;
	overflow : hidden;
	padding : 0px;
	text-align : left;
}

#drawing-area
{
    position: absolute;
    top : 130px;
    left : 10px;
    height: 512px;
    width: 512px;
}

#tool-options
{
    position: absolute;
    top: 10px;
    left: 540px;
}

#tools
{
    position: absolute;
    top: 10px;
    left: 800px;
}
			
#palette ul
{
	-webkit-padding-start: 0px;
	padding-left : 0px;
}

#palette ul li
{
	display : block;
	border : 1px solid #333;
	height : 16px;
	width : 32px;
	float : left;
	margin : 2px;
	text-align : left;
}

#tools ul li
{
	display : block;
	border : 1px solid #333;
	height : 20px;
	width : 20px;
	float : left;
	margin : 0px;
	text-align : left;
}

#tools ul li img
{
	height : 20px;
	width : 20px;
}

#pencil-primary-color, #pencil-alternate-color, .fill-color
{
    height: 16px;
    width: 32px;
    border: 1px solid #333;
    margin: 2px;
}
