#palette
{
	width : 50px;
	overflow : hidden;
	padding : 0px;
	text-align : left;
}
			
#palette ul
{
	-webkit-padding-start: 0px;
	padding-left : 0px;
}

#palette ul li
{
	display : block;
	border : 1px solid #333;
	height : 16px;
	width : 32px;
	float : left;
	margin : 2px;
	text-align : left;
}

#tools ul li
{
	display : block;
	border : 1px solid #333;
	height : 20px;
	width : 20px;
	float : left;
	margin : 0px;
	text-align : left;
}

#tools ul li img
{
	height : 20px;
	width : 20px;
}

#pencil-primary-color, #pencil-alternate-color
{
    height: 16px;
    width: 32px;
    border: 1px solid #333;
    margin: 2px;
}
